<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Layout</title>
        <ui:include src="/WEB-INF/templates/head.xhtml" />
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/templates/header.xhtml" />
        <div class="container-fluid" id="main">
            <ui:insert name="content"></ui:insert>
        </div>
    </h:body>
</html>
