<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>SISTEMA ENADE</title>
</h:head>
<h:body style="background-color: #6E94FF">
	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="190" resizable="true"
			closable="true" collapsible="true">
			<img src="resources/images/uniacademia.png" alt="" />
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<h:form id="formLogin">
				<p:panel
					style="text-align: center; width: 800px; margin: auto; margin-top: 80px;">

					<f:facet name="header">Cadastro de Aluno</f:facet>
					<br />
					<h:panelGrid columns="1" width="100%">
						<p style="margin: 0; font-weight: bold;">Nome</p>
						<span class="ui-float-label"> <p:inputText id="nomeNovo"
								value="#{usuarioBean.usuario.nomeUsuario}" /><br />
						</span>
						<p style="margin: 0; font-weight: bold;">E-mail</p>
						<p:inputText id="emailNovo"
							value="#{usuarioBean.usuario.emailUsuario}" />
						<br />
						<p style="margin: 0; font-weight: bold;">Senha</p>
						<p:password id="Senha" value="#{loginBean.usuario.senhaUsuario}"
							label="Senha" required="true" />
					</h:panelGrid>
					<br />
					<p:commandButton value="Novo Aluno"
						action="#{usuarioBean.gravarAluno}" update="@form" process="@form" />
					<p:commandButton value="Login" action="#{usuarioBean.voltar}" />
				</p:panel>
			</h:form>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
