<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      lang="en" xml:lang="en">

	<h:head>
        <title>PROVAS</title>
    </h:head>

    <ui:composition template="/WEB-INF/templates/layout.xhtml">
        <ui:define name="content">
            <h2 class="page-header">Prova</h2>
            <br />
            <h:form id="formPrincipal">
                <div align="center">
                    <p:dataTable var="lista" value="#{questaoBean.questoes}"
                                 id="tabelaQuestao" emptyMessage="Nenhum registro encontrado"
                                 paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                 paginator="true" rows="10"
                                 rowsPerPageTemplate="5,10,25,50,100,9999" style="width:100%">

                        <p:column headerText="Código" sortBy="#{lista.idQuestao}"
                                   filterBy="#{lista.idQuestao}">
                            <h:outputText value="#{lista.idQuestao}" />
                        </p:column>

                        <p:column headerText="Tipo"
                                   sortBy="#{lista.tbTipoQuestaoidTipoQuestao.nomeTipoQuestaocol}"
                                   filterBy="#{lista.tbTipoQuestaoidTipoQuestao.nomeTipoQuestaocol}">
                            <h:outputText value="#{lista.tbTipoQuestaoidTipoQuestao.nomeTipoQuestaocol}" />
                        </p:column>

                        <p:column headerText="Resposta" sortBy="#{lista.resposta}"
                                   filterBy="#{lista.resposta}">
                            <h:outputText value="#{lista.resposta}" />
                        </p:column>
                        <p:column headerText="Opções" exportable="false">
                            <p:commandButton icon="ui-icon-pencil" value="Resposta da Questão"
                                             onclick="PF('record').show();"
                                             update="panelRecord" process="@this">
                                <f:setPropertyActionListener target="#{questaoBean.questao}"
                                                             value="#{lista}" />
                            </p:commandButton>
                        </p:column>

                    </p:dataTable>
                </div>

                <p:dialog header="Novo" widgetVar="record" modal="true"
                          focus="resposta">

                    <p:panelGrid id="panelRecord" columns="2"> 
                        Resposta:
                        <p:selectOneMenu id="resposta"
                                         value="#{questaoBean.questao.resposta}" style="width:125px">
                            <f:selectItem itemLabel="Selecione" itemValue="" />
                            <f:selectItem itemLabel="A" itemValue="A" />
                            <f:selectItem itemLabel="B" itemValue="B" />
                            <f:selectItem itemLabel="C" itemValue="C" />
                            <f:selectItem itemLabel="D" itemValue="D" />
                            <f:selectItem itemLabel="E" itemValue="E" />
                            <f:selectItem itemLabel="DISCURSIVA" itemValue="Discursiva" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton value="Salvar"
                                     actionListener="#{questaoBean.gravar}" onclick="record.hide()"
                                     alt="Record" />
                </p:dialog>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
