<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Gerenciar Resultados</h2>
        <br/>
        <h:form id="formPrincipal">
            <h:panelGrid id="pnlgrdCenter3" columns="1">
                <p:selectOneMenu id="inptRelatorio" value="#{relatorioBean.relatorio}" required="true">
                    <f:selectItems value="#{relatorioBean.tipos}"/>                            
                </p:selectOneMenu>
                <p:commandButton id="Relatorio" ajax="false" value="Gerar Relatório" 
                                 action="#{relatorioBean.gerarRelatorio()}" onclick="this.form.target = '_blank'" /> 
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
